* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  min-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  background-color: #445162;
  padding: 50px 0;
}
.header .container {
  max-width: 1180px;
  margin: 0 auto;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__body {
  color: #FFF;
  padding: 0 30px 0 0;
}
.header__title {
  font-size: 40px;
  margin-bottom: 30px;
}
.header__list {
  font-size: 20px;
}
.header__list li {
  background: url("../img/check.png") 0 1px no-repeat;
  line-height: 22px;
  padding-left: 36px;
  margin-bottom: 15px;
}
.header__list li:last-child {
  margin-bottom: 0;
}
.header__image img {
  max-width: 85%;
  max-height: 85%;
}

.footer {
  background-color: #F5F5F5;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__title {
  font-size: 12px;
  letter-spacing: 3px;
  padding: 50px 0 40px;
}

.what {
  padding: 50px 0;
}
.what .container {
  max-width: 1110px;
  margin: 0 auto;
}
.what__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.what__title {
  font-size: 28px;
  color: #445161;
  line-height: 24px;
  text-wrap: nowrap;
  margin-bottom: 36px;
}
.what__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 38px;
}
.what__body p {
  font-size: 20px;
  color: #333333;
}
.what__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 391px;
          flex: 0 0 391px;
}
.what__image img {
  max-width: 100%;
}

.columns {
  background-color: #F5F5F5;
  padding: 50px 0;
}
.columns .container {
  max-width: 1280px;
  margin: 0 auto;
}
.columns__title {
  font-size: 28px;
  color: #445161;
  line-height: 24px;
  text-wrap: nowrap;
  margin-bottom: 30px;
  text-align: center;
}
.columns__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -8px;
}
.columns__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 8px;
  margin: 0px 0px 30px 0px;
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}
.item__image img {
  max-width: 100%;
}
.item__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0 15px;
}
.item__title {
  color: #445162;
  font-size: 20px;
  margin-bottom: 13px;
}
.item__text {
  color: #333333;
  font-size: 16px;
  line-height: 16px;
}

.vertical {
  padding: 50px 0;
}
.vertical .container {
  max-width: 1280px;
  margin: 0 auto;
}
.vertical__title {
  font-size: 28px;
  color: #445161;
  line-height: 24px;
  text-wrap: nowrap;
  margin-bottom: 30px;
  text-align: center;
}
.vertical__body {
  max-width: 990px;
  margin: 0 auto;
}
.vertical__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -22.5px;
}
.vertical__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 22.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.vertical__item {
  background-color: #445162;
  color: #FFF;
  border-radius: 5px;
  border: 1px solid #445162;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.vertical__subtitle {
  text-align: center;
  font-size: 24px;
  padding: 15px 0;
}
.vertical__label {
  background-color: #fff;
  text-align: center;
  color: #445162;
  padding: 12px 0;
  font-size: 32px;
}
.vertical__text {
  font-size: 14px;
  line-height: 24px;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.vertical__text p {
  margin-bottom: 15px;
}
.vertical__text p:last-child {
  margin-bottom: 0;
}
.vertical__button {
  display: block;
  margin: 0px 20px;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  border-radius: 5px;
  color: #445161;
  font-size: 18px;
}